/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
body {
    background-color: #ffe9c8;
    color: #5e2e2e;
    font-family: poppins;
  }
#footer{
  color: #5e2e2e;
}

#tituloHome{
  margin-left: 12px;
  margin-top: 50px;
  margin-bottom: 10px;
}
#subtituloHome{
  margin-left: 12px;
}
#iconbutton{
  color: #FF9500;
  border: none;
  background-color: none;
}
#iconsocial{
  color: #5e2e2e;
  border: none;
  background-color: none;
}
#iconbutton3{
  color: #ff69de;
  background-color: #ffccf4;
  border: none;
}
#iconbutton4{
  color: #ff69de;
}

#opinionbutton{
  border: none;
  background-color: #ffc6708a;
}
#opinioncard{
  background-color: #ffc6708a;
  border: none;
  box-shadow: 10px;
  border-radius: 10%;
  align-items: center;
  position: relative;
  height: 400px;
}
#opinioncarddetail{
  background-color: #ffc6708a;
  border: none;
  box-shadow: 10px;
  height: auto;
  margin-top: 5px;
  width: 1050px;
}
#comentario{
  width: 300px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
}

#imagenopinion{
  display: block;
  z-index: 0;
  width: 60px;
  height: 60px;
  margin-bottom: 60px;
  margin-top: -40px;
}
#logofooter{
  display: block;
  z-index: 0;
  width: 150px;
  height: 150px;
  margin-bottom: -20px;
}
#localcard{
  border: none;
  box-shadow: 10px;
  width: 290px;
  height: 290px;
  padding: 5px;
}

#cajas{
  /*position: absolute;*/  
  width: 334px;
  height: 379px;
  left: 29px;
  top: 253px;

  background: #FFE9C8;
  box-shadow: -3px -3px 10px rgba(255, 207, 136, 0.8), 3px 3px 10px rgba(255, 207, 136, 0.8);
  backdrop-filter: blur(89px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 28px;
}

.alinear-derecha{
  float: right;
  font-weight: bold;
}

.alinear-izquierda{
  float: left;
  font-weight: bold;
  margin-left: 5px;
}
.alinear-izquierda2{
  float: left;
  margin-left: 5px;
}

.alinear-derecha-checkbox{
    float: right;
    }
  
.alinear-izquierda-checkbox{
      float: left;
    }

#imagenLocal{
  align-items: center;
  max-width: 100px;
  max-height: 100px;
  display: block;
  /*margin: 10px;
  padding: 10px;*/
}

.img-responsive{
  align-content: center;
  overflow:hidden;
  object-fit: cover;
  width: 100%;
  height: 50%;    
}

#localcardtext{
  font-size: small;  
}
#localcardtextopinion{
  font-size: small; 
  align-items: right; 
}
.imagenbanner{
  width: 570px;
  height: 200px;
}

.imagenDetalle{
  width: 600px;
  height: 342px;
}
.imagenDetallePeq{
  width: 250px;
  height: 171px;
}
.linkfooter{
  text-decoration:none;
  color: #5e2e2e;
}


/* .section {
  position: relative;
  background-repeat: repeat-x;
}
.helpr-section {
  background: url('https://as2.ftcdn.net/v2/jpg/03/09/77/01/1000_F_309770182_CS9UFI0di8bHPdZpSL47eBhdooxJx0v0.jpg');
  background-position: top center;
  background-size: cover;
}
.helpr-text {
  height: 150px;
}
.webHomeTitle {
  display: block;
}
.home-service {
  width: 600px;
  margin: 40px auto 100px auto;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(2,2,2,0.14);
  -moz-box-shadow: 0 4px 8px rgba(2,2,2,0.14);
  box-shadow: 0 4px 8px rgba(2,2,2,0.14);
  height: 65px;
}
.helpr-title {
  padding: 190px 190px 10px;
  font-size: 40px;
  -webkit-text-shadow: 0 4px 6px rgba(0,0,0,.20);
  -moz-text-shadow: 0 4px 6px rgba(0,0,0,.20);
  text-shadow: 0 4px 6px rgba(0,0,0,.20);
  text-align: center;
  color: #ffffff;
  margin: 0;
  position: relative;
}
.helpr-content {
  display: table;
  width: 100%;
}
@media (max-width: 3000px){
    .helpr-text {
      display: flexbox !important;
  }

}.wrapper-demo1 {
  float:left;
  margin:11px 0 0 15px;
} */

