/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #ffe9c8;
  color: #5e2e2e;
  font-family: poppins;
}
#footer{
  padding: 50px;
}
#navbarSupportedContent{
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: #5e2e2e;
}
#button{
  background-color: #FFCCF4;
  color: #5e2e2e;
  border-color: #FF69DE;
  border-width: 3px;
  border-radius: 10px;
  font-weight: bold;
}
#card {
  background-color: #ffe9c8;
  border-color: #ff950081;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: 2px 2px 2px 1px #bebdbd;
}
